*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #C4B7B4;
    font-family: sans-serif;
}

header{
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   margin: 0px 0px 10px 0px;
   padding: 20px;
   background-color: #285A71;
}

div.cart{
   display: flex;
   width: 30%;
   flex-direction:row;
   justify-content: flex-start;
}

.fa-shopping-cart{
   color: #ffffff;
   font-size: 25px;
}

div.logo{
   display: flex;
   width: 40%;
   flex-direction: row;
   justify-content: center;
}

div.logo img{
    width: 100%;
    height: 80%;
    object-fit: contain;
}

div.user{
    width: 30%;
} 

div.user ul{
  width: 100%;
  position: relative;
}

div.user ul li{
  margin: 5px 0px 5px 3px;  
}

div.user ul li a{
    text-decoration: none;
    color: #ffffff;
}

.fa-user{
    color: #ffffff;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

form.search{
   display: flex;
   justify-content: center;
   margin: 30px 0px 15px 0px;
   width: 100%;
}

form.search input{
   font-size: medium;
   width: 50%;
   border-radius: 5px;
}

.fa-search{
   margin-left: 3px;
   color: #ffffff;
}

.container{
   display: none;
}
  
ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
}
  
ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
}
  
ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
}
  
ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
  
ul.slider li:first-child {
      opacity: 1; 
}
  
ul.slider li:target {
      opacity: 1; 
}
  
.menu{
    text-align: center;
    margin: 20px;
}
  
menu li{
    display: inline-block;
    text-align: center;
}
  
.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}

footer{
  width: 90%;
  height: 30%;
  margin: auto;
  border: solid 2px #000000;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-shop{
    width: 20%;
    margin: 0px 5px 5px 5px;
    display: none;
}

.footer-laEscondida{
   width: 20%;
   margin: 0px 5px 5px 5px;
}

.footer-email{
  width: 30%;
  margin: 0px 5px 5px 5px;
  display: none;
}

.footer-redesSociales{
  width: 30%;
  margin: 0px 5px 5px 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

footer div.footer-redesSociales img{
    object-fit: contain;
}

h4{
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;

}
.formregister, .formlogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
    padding: 60px;
}

.formregister label{
width: 79%;
padding: 20px 0px 10px 0px;
font-weight: bold;

}

.formlogin input, .formlogin button, .formregister input, .formregister button{
    width: 80%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.formregister div{
    align-self: center;
}

.formregister div input, label{
    align-self: center;
    width: 4vw;

}

.formlogin button, .formregister button{
    color: white;
    background-color:#293771;
}

@media (min-width: 550px){
    div.cart{
        flex-direction:row;
        justify-content: flex-start;
     }

    .fa-shopping-cart{
        color: #ffffff;
        font-size: 50px;
     }
     
    div.user ul{
        left: 65%;
    }

    .fa-user{
        color: #ffffff;
        font-size: 50px;
    } 

    form.search input{
        font-size: medium;
        width: 70%;
        border-radius: 5px;
    }

    .container{
        display: block;
        margin: auto;
        background-color: white;
        width: 800px;
        padding: 30px;
    }

    ul.slider{
        position: relative;
        width: 800px;
        height: 300px;
    }

    footer{
        height: 340px;
    }
    
    .footer-shop{
        display: block;
    }

    .footer-email{
      display: block;
    }
}