<!DOCTYPE html>
<html lang="en"></html>
  <!--HEAD-->
  <%- include('../partials/head') %>
  <body>
  
    <!-- Header -->
    <%- include('../partials/header')%>

    <!-- Page content -->
    <section>
        <h4 id="cervezas">Cervezas</h4>

        <article>
            <div class="cerveza-kunstmann">
                <img src="/images/bebidas/cervezaKunstmann.png" alt="Cerveza Kunstmann" />
                <div class="descripcion">
                    <h5>HOME > PRODUCTO > CERVEZAS </h5>
                    <h4>Kunstmann</h4>
                    <p>PRECIO: $85
                    </p>
                    <form action="/" method="POST">
                        <label for="cantidad">Cantidad:</label>
                        <input type="number" name="cantidad" id="cantidad">
                        <button type="submit">AGREGAR AL CARRITO</button>
                    </form>
                </div>
            </div>
            <div class="cerveza-miller">
                <img src="/images/bebidas/cervezaMiller.png" alt="Cerveza Miller" />
                <div class="descripcion">
                    <h5>HOME > PRODUCTO > CERVEZAS </h5>
                    <h4>Miller</h4>
                    <p>PRECIO: $65
                    </p>
                    <form action="/" method="POST">
                        <label for="cantidad">Cantidad:</label>
                        <input type="number" name="cantidad" id="cantidad">
                        <button type="submit">AGREGAR AL CARRITO</button>
                    </form>
                </div>
            </div>

            <div class="cerveza-patagonia">
                <img src="/images/bebidas/cervezaPatagonia.png" alt="Cerveza Patagonia" />
                <div class="descripcion">
                    <h5>HOME > PRODUCTO > CERVEZAS </h5>
                    <h4>Patagonia</h4>
                    <p>PRECIO: $100
                    </p>
                    <form action="/" method="POST">
                        <label for="cantidad">Cantidad:</label>
                        <input type="number" name="cantidad" id="cantidad">
                        <button type="submit">AGREGAR AL CARRITO</button>
                    </form>
                </div>
            </div>
        </article>

        <h4 id="vinos">Vinos</h4>
        <article>
            <div class="vino-laMascota">
                <img src="/images/bebidas/vino-blanco-LaMascota.png" alt="Vino blanco La Mascota" />
                <div class="descripcion">
                    <h5>HOME > PRODUCTO > VINOS </h5>
                    <h4>La Mascota</h4>
                    <p>PRECIO: $62
                    </p>
                    <form action="/" method="POST">
                        <label for="cantidad">Cantidad:</label>
                        <input type="number" name="cantidad" id="cantidad">
                        <button type="submit">AGREGAR AL CARRITO</button>
                    </form>
                </div>

            </div>
            <div class="vino-santaJulia">
                <img src="/images/bebidas/vino-blanco-SantaJulia.png" alt="Vino blanco Santa Julia" />
                <div class="descripcion">
                    <h5>HOME > PRODUCTO > VINOS </h5>
                    <h4>Santa Julia</h4>
                    <p>PRECIO: $52
                    </p>
                    <form action="/" method="POST">
                        <label for="cantidad">Cantidad:</label>
                        <input type="number" name="cantidad" id="cantidad">
                        <button type="submit">AGREGAR AL CARRITO</button>
                    </form>
                </div>
            </div>
            <div class="vino-perroCallejero">
                <img src="/images/bebidas/vino-tinto-PerroCallejero.png" alt="Vino tinto Perro Callejero" />
                <div class="descripcion">
                    <h5>HOME > PRODUCTO > VINOS </h5>
                    <h4>Perro Callejero</h4>
                    <p>PRECIO: $35
                    </p>
                    <form action="/" method="POST">
                        <label for="cantidad">Cantidad:</label>
                        <input type="number" name="cantidad" id="cantidad">
                        <button type="submit">AGREGAR AL CARRITO</button>
                    </form>
                </div>
            </div>
        </article>

        <h4 id="licores">Licores</h4>
        <article>
            <div class="destilado-tanqueray">
                <img src="/images/bebidas/destiladoTanqueray.png" alt="Destilado Tanqueray" />
                <div class="descripcion">
                    <h5>HOME > PRODUCTO > LICORES </h5>
                    <h4>Tanqueray</h4>
                    <p>PRECIO: $200
                    </p>
                    <form action="/" method="POST">
                        <label for="cantidad">Cantidad:</label>
                        <input type="number" name="cantidad" id="cantidad">
                        <button type="submit">AGREGAR AL CARRITO</button>
                    </form>
                </div>
            </div>

            <div class="destilado-redLabel">
                <img src="/images/bebidas/destiladoRedLabel.png" alt="Destilado Red Label" />
                <div class="descripcion">
                    <h5>HOME > PRODUCTO > LICORES </h5>
                    <h4>Red Label</h4>
                    <p>PRECIO: $500
                    </p>
                    <form action="/" method="POST">
                        <label for="cantidad">Cantidad:</label>
                        <input type="number" name="cantidad" id="cantidad">
                        <button type="submit">AGREGAR AL CARRITO</button>
                    </form>
                </div>
            </div>
        </article>
    </section>
</main>
      <!-- Footer -->
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
