<!DOCTYPE html>
<html lang="en"></html>
  <!--HEAD-->
  <%- include('../partials/head') %>
  <body>
  
    <!-- Header -->
    <%- include('../partials/header')%>

    <!-- Page content -->
    





    
      <!-- Footer -->
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>