<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Escondida</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/home-styles.css">
</head>

<body>
    <header>
        <div class="cart">
            <a href="/productCart"><i class="fas fa-shopping-cart"></a></i>
            <figcaption class="caption">Mis compras</figcaption>
        </div>

        <div class="logo">
            <!--IMAGEN DEL LOGO-->
            <a href="/"><img src="/images/laEscondida-logo.png" alt="Logo La Escondida"></a>
        </div>

        <div class="user">
            <a href="/login"><i class="fas fa-user"></a></i>
            <ul>
                <li><a href="/register">Registrarse</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>

        <form action="/" method="POST" class="search">
            <input type="search" name="buscador" placeholder="Buscar Productos...">
            <i class="fas fa-search"></i>
        </form>
    </header>
    <main>
        <div class="slider">

            <ul>
                <li>
                    <img src="/images/Para-el-home/tipos-de-vinos.jpg" alt="Cervezas varias" />
                </li>
                <li>
                    <img src="/images/Para-el-home/cervezas-varias.jpg" alt="Cervezas varias" />
                </li>
                <li>
                    <img src="/images/Para-el-home/tipos-de-vinos-tintos.jpg" alt="Vinos varios" />
                </li>
                <li>
                    <img src="/images/Para-el-home/bebidas-destiladas.png" alt="Bebidas Destiladas varias" />
                </li>
            </ul>

        </div>

        <section>
            <ul>
                <div class="product-cerveza">
                    <li><a href="/productDetail"><img src="/images/Para-el-home/cervezas.jpg" alt="Cervezas"></a></li>
                    <label><a href="/productDetail">CERVEZAS</a></label>

                </div>

                <div class="product-vinos">
                    <li><a href="/productDetail"><img src="/images/Para-el-home/vinos.jpg" alt="Vinos"></a></li>
                    <label><a href="/productDetail">VINOS</a></label>
                    <p class="comentario">Vinos tintos, blancos, rosados y espumantes</p>
                </div>

                <div class="product-licores">
                    <li><a href="/productDetail"><img src="/images/Para-el-home/licor.jpg" alt="Licores"></a></li>
                    <label><a href="/productDetail">LICORES</a></label>
                </div>
            </ul>
        </section>
    </main>
    <footer>
        <div class="footer-shop">
            <h4>Tienda</h4>
            <ul>
                <li><a href="/productDetail">Cerveza</a></li>
                <li><a href="/productDetail">Vinos</a></li>
                <li><a href="/productDetail">Otras Bebidas</a></li>
            </ul>
        </div>

        <div class="footer-laEscondida">
            <h4>La Escondida</h4>
            <ul>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Sobre nosotros</a></li>
            </ul>
        </div>

        <form action="/" method="POST" class="footer-email">
            <input type="email" name="email" placeholder="Dejanos tu email...">
            <i class="far fa-envelope"></i>
        </form>

        <div class="footer-redesSociales">
            <img src="/images/facebook.png" alt="Facebook">
            <img src="/images/instagram.png" alt="Instagram">
            <img src="/images/whatsapp.png" alt="whatsapp">
        </div>

        <section class="footer-metodosDePago">
            <h4>Metodos de pago</h4>

            <article>
                <i class="fas fa-credit-card icon-metodosDePago"></i>
                <h3>Paga con tarjeta o efectivo</h3>
                <p class="parrafo-footer">En La Escondida, tenés cuotas sin interés con tarjeta o efectivo en
                    forma de pago. ¡Y siempre es seguro!
                </p>
            </article>
            <article>
                <i class="fas fa-truck icon-metodosDePago"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p class="parrafo-footer">
                    Solo por estar registrad@ en La Escondida tenés envíos gratis en miles de
                    productos.
                </p>
            </article>
        </section>

    </footer>
</body>