<!DOCTYPE html>
<html lang="en"></html>
  <!--HEAD-->
  <%- include('../partials/head') %>
  <body>
  
    <!-- Header -->
    <%- include('../partials/header')%>

    <!-- Page content -->
    <section class="form-register">
        <h4>Completa tus datos</h4>
        <main>
            <section>
                
            </section>
        </main>
    </section>
    <!-- Footer -->
    <%- include('../partials/footer') %>
</div>
</body>
</html>
