<!Doctype html>
<html lang="en"></html>
    <%- include('./partials/head')%>
    <link rel="stylesheet" href="/css/estilos_404.css">
<body>

        <%- include('./partials/header')%>
    <main>
    <section id="contenedor__general">
            <h1>404</h1>
            <h3>pagina no encontrada</h3>
            <p id="texto404">Lo sentimos, la pagina a la que estas intentando acceder no existe</p>
    </section>
</main>
    <%- include('./partials/footer')%>
</div>
</body>
</html>
