<header>
    <div class="cart">
        <a href="/productCart"><i class="fas fa-shopping-cart"></a></i>
        <figcaption class="caption">Mis compras</figcaption>
    </div>

    <div class="logo">
        <!--IMAGEN DEL LOGO-->
        <a href="/"><img src="/images/laEscondida-logo.png" alt="Logo La Escondida"></a>
    </div>

    <div class="user">
        <a href="/login"><i class="fas fa-user"></a></i>
        <ul>
            <li><a href="/register">Registrarse</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>

    <form action="/" method="POST" class="search">
        <input type="search" name="buscador" placeholder="Buscar Productos...">
        <i class="fas fa-search"></i>
    </form>
</header>